<table class="room-list">
    <thead>
        <tr>
            <th>Room #</th>
            <th>Patient Name</th>
            <th>Visitor Name and Phone #</th>
            <th>Covid Positive [Y/N]</th>
            <th>Final Visit [Y/N]</th>
        </tr>
    </thead>
<tbody>
    <tr>
        {{ room }}
        {{ patient }}
        {{ visitor }}
        {{ covid }}
        {{ finalvisit }}
    </tr>
</tbody>
</table>