{{!-- <table class="room-list">
    <thead>
        <tr>
            <th>Room #</th>
            <th>Patient Name</th>
            <th>Visitor Name and Phone #</th>
            <th>Covid Positive [Y/N]</th>
            <th>Final Visit [Y/N]</th>
        </tr>
    </thead>
<tbody>
    <tr>
        {{ room }}
        {{ patient }}
        {{ visitor }}
        {{ covid }}
        {{ finalvisit }}
    </tr>
</tbody>
</table> --}}



<table>
<thead>
  <tr>
            <th>Room #</th>
            <th>Patient Name</th>
            <th>Visitor Name and Phone #</th>
            <th>Covid Positive [Y/N]</th>
            <th>Final Visit [Y/N]</th>
  </tr>
</thead>
<tbody>
  {{#each patients}}
    <tr>
    	{{#each this}}
        <td class="tableField">{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  var text = $(this).text().trim();

  $(".tableField").on("click", "p", function() {
    var textInput = $("<textarea>").addClass("form-control").val(text);
      $(this).replaceWith(textInput);
      textInput.trigger("focus");
  });
</script>