<table class="room-list">
    <thead>
        <tr>
            <th>Room #</th>
            <th>Patient Name</th>
            <th>Visitor Name and Phone #</th>
            <th>Covid Positive [Y/N]</th>
            <th>Final Visit [Y/N]</th>
        </tr>
    </thead>
<tbody>
    <tr>
        {{ room }}
        {{ patient }}
        {{ visitor }}
        {{ covid }}
        {{ finalvisit }}
    </tr>
</tbody>
</table>

<!-- Not sure if it should be more like this:

<table>
<thead>
  <tr>
    {{#each array.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each array}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
</script>

-->